<div class="navbar">
  <img class="logo" src="assets/svg/logo.svg">

  <div class="text-container">
    <ng-container *ngIf="currentUser; else elseTemplate">
      <span class="title">Boccia</span>
      <span class="title">Boccia</span>
      <span class="title">Boccia</span>

    </ng-container>
  </div>




  <ng-container *ngIf="currentUser">
    <button mat-button class="logoutButton" (click)="logout()">
      <mat-icon>logout</mat-icon>
      logout
    </button>
  </ng-container>

</div>
<ng-template #elseTemplate>
  <span class="title">Boccia</span>
</ng-template>
