<div class="container">
  <div class="newKaban-wrapper">
    <h1>Create a new Kaban</h1>

    <form [formGroup]="tittleForm" class="input-wrapper" (submit)="submit()">
      <mat-form-field appearance="outline" color="">
        <input matInput placeholder="Kaban Tittle" formControlName="tittle">
        <mat-error *ngIf="tittle?.errors?.['required']">Tittle is required</mat-error>
      </mat-form-field>
      <button mat-icon-button aria-label="Example icon button with a home icon">
        <mat-icon>add</mat-icon>
      </button>
    </form>

  </div>
  <div class="kabanList-wrapper">
    <h1>Your list of Kabans</h1>

    <div class="list-item" *ngFor="let item of kabanList" (click)="openKaban(item)">
      <span>
        {{item}}
      </span>
    </div>
  </div>
</div>
